body {
  background: #fafafa;
}

h1, h1 > a {
  color: #f06d3c;
}

h3, h3 > a {
  color: #116688;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: left;
  padding: 20px;
}

.App .controls {
  padding: 10px 0;
}

.App .controls * {
  margin-right: 10px;
}