body {
  background: #fafafa;
}

h3 {
  color: #f06d3c;
  cursor: pointer;
}
.App {
  text-align: left;
  padding: 20px;
}

.App .controls {
  padding: 10px 0;
}

.App .controls * {
  margin-right: 10px;
}