.Story {
    border-bottom: 1px solid #e3e3e3;
    padding: 12px 0;
}

.Story:nth-child(even) {
    background: #fafafa;
    background: -moz-linear-gradient(left,  #fafafa 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left,  #fafafa 0%,#ffffff 100%);
    background: linear-gradient(to right,  #fafafa 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=1 );
}

.Story a{
    text-decoration: none;
    color: black;
}

.Story a:hover{
    text-decoration: underline;
}

.Story .text {
    color: #a5a5a5;
    font-size: 1em;
    font-style: italic;
}

.Story a.comment {
    padding-left: 10px;
    font-size: .8em;
    line-height:1em;
    color: #116688;
}
