body {
  background: #fafafa;
}

h3 {
  color: #f06d3c;
}
.App {
  text-align: left;
  padding: 20px;
}

.App ol {
  display: block;
  list-style: none;
  counter-reset: numList;
  padding-left: 30px;
  margin: 0;
}

.App li {
  position: relative;
  padding: 10px;
}

.App ol li:before {
  counter-increment: numList;
  content: counter(numList);

  position: absolute;
  left: -26px;
  top:7px;

  font: bold 12px sans-serif;
  text-align: center;
  color: #000;
  line-height: 22px;

  width: 22px;
  height: 22px;
  background: #ffffff;

  -moz-border-radius: 999px;
  border-radius: 999px;

  border: 1px solid #f3f3f3;
}

.App a{
  text-decoration: none;
  color: black;
}

.App a:hover{
  text-decoration: underline;
}

.App .story {

}
.App .comment a {
  padding-left: 10px;
  font-size: .8em;
  color: #a5a5a5;
}